.password{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.passwordWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 1px solid #D9D9D9;
    padding: 6px 10px;
    border-radius: 6px;
}


.passwordWrapper.focused {
    border-color: #FF3939;
  }

.passwordWrapper.focused {
    box-shadow: 0 0 10px rgba(99, 60, 255, 0.25);
    border-color: #633CFF;
  }

.password label{
    font-size: 0.75rem;
    color:#333333;
}

.password label.error{
    color: #FF3939;;
}

input{
    border: none;
    color: #333;
    outline: none;
    font-size: 0.9rem;
}

.lockIcon{
    padding-top: 3px;
}


@media screen and (max-width: 465px) {
    .passwordWrapper{
        padding: 10px;
    }
}
































