.customDropdown img{
    color: #737373;
}
 
 /* .customDropdown{
    width: 100%;
}

select{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px 12px 16px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

option{
    background-color: aquamarine;
    padding: 1rem;
} */

